src/main/mule/vm-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="73c658e3-7532-4201-9d70-c31743236652" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="f720e4f1-f5dd-4359-9d71-d8c2f8382eff" >
		<vm:connection />
		<vm:queues >
			<vm:queue queueName="vmQueue" />
		</vm:queues>
	</vm:config>
	<flow name="vm-pocFlow" doc:id="abd078a9-cda4-489b-9257-12ae376c3a52" >
		<http:listener doc:name="Listener" doc:id="deb6e321-57c5-4c35-b6ca-ab4072af31b3" config-ref="HTTP_Listener_config" path="/vm" allowedMethods="post"/>
		<logger level="INFO" doc:name="Logger" doc:id="ae7a4979-cc2f-49af-89d2-bbfac265b02a" message='#["posted message"]'/>
		<vm:publish-consume queueName="vmQueue" doc:name="Publish consume" doc:id="a93fcec7-69dd-4735-a8c6-c016c7ba3548" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="897bd5de-85bb-4926-8d75-d624431aca08" message="main flow last"/>
		<ee:transform doc:name="Transform Message" doc:id="e728e889-6260-4870-ae96-a548754cd6e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"output"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="88caa3fd-beb1-428a-b84f-afe76baa911f" message='#["success"]'/>
	</flow>
	<flow name="vm-pocFlow1" doc:id="379547b8-14d3-4cb8-9dfc-75f846f695a7" >
		<vm:listener queueName="vmQueue" doc:name="Listener" doc:id="05f81de8-a550-4b8e-9eed-6973ef4d99dd" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="e7699a94-a6ec-4577-88c3-1297590b4273" message='#[payload]'/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8b078b19-8d39-46c8-b191-7abe1f396380" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="e182393c-fa2d-4945-a962-bb779945334f" message="error"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
